# Application Configuration
APP_PORT=9333
RUST_LOG=info

# MySQL Configuration
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=chilli
MYSQL_USER=chilli
MYSQL_PASSWORD=chilli_password

# Optional Database Alternatives
POSTGRES_HOST=xxxxx
POSTGRES_PORT=xxxxx
POSTGRES_USER=xxxxx
POSTGRES_PASSWORD=xxxxx
POSTGRES_DATABASE=xxxxx

ORACLE_HOST=xxxxx
ORACLE_PORT=xxxxx
ORACLE_USER=xxxxx
ORACLE_PASSWORD=xxxxx
ORACLE_DATABASE=xxxxx

QUESTDB_HOST=xxxxx
QUESTDB_PORT=xxxxx
QUESTDB_USER=xxxxxx
QUESTDB_PASSWORD=xxxxx

# Authentication
ENABLE_AUTH=true
REFRESH_KEY=xxxxxxxxxx
