ENABLE_AUTH=true

PORTAL_PORT=3000
CORE_PORT=9333
 
REFRESH_KEY=xxxxxxxxxx

MYSQL_HOST=xxxxx
MYSQL_PORT=xxxxx
MYSQL_USER=xxxxx
MYSQL_PASSWORD=xxxxx
MYSQL_DATABASE=xxxxx

POSTGRES_HOST=xxxxx
POSTGRES_PORT=xxxxx
POSTGRES_USER=xxxxx
POSTGRES_PASSWORD=xxxxx
POSTGRES_DATABASE=xxxxx

ORACLE_HOST=xxxxx
ORACLE_PORT=xxxxx
ORACLE_USER=xxxxx
ORACLE_PASSWORD=xxxxx
ORACLE_DATABASE=xxxxx

QUESTDB_HOST=xxxxx
QUESTDB_PORT=xxxxx
QUESTDB_USER=xxxxxx
QUESTDB_PASSWORD=xxxxx
